.social-cards a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-inline: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}

.social-cards img {
  height: 50%;
  filter: invert(1);
  /* generate filter for paint svg: https://codepen.io/sosuke/pen/Pjoqqp */
}

@media (prefers-color-scheme: light) {
  .social-cards img {
    filter: invert(0);
  }
}
